.fa-font-set {
    font-family: B Koodak;
}

.col-rtl {
    float: right !important;
}

.header-style {
    background-color: #003f59;
    position: absolute !important;
    min-height: 50px;
    padding-top: 10px;
}

.around-shadow {
    -webkit-box-shadow: 0 2px 3px #9e9e9e;
    -moz-box-shadow: 0 2px 3px #9e9e9e;
    box-shadow: 0 2px 3px #9e9e9e;
    -webkit-transition-duration: .3s;    
}

.navbar .nav > li > a {
    background-color: transparent;
    text-shadow: none !important;
    color: #b5dcf4;
}

.navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
    color: white;
}

.nav {
    background-color: transparent !important;
}

.brand-navbar {
    margin-right: 20px !important;
    text-shadow: none !important;
    color: white!important;
}

.collapse-navbar {
    margin-left: 20px !important;
}

.bg-image {
    position: relative;
}

.bg-image{
    display: block;
    width: 100%;
    max-width: 1200px; /* corresponds to max height of 450px */
    margin: 0 auto;
}

.nav, .main {
    background-color: #f6f6f6;
    text-align: center;
}

.bg-image {
    margin-top: 51px !important;
    padding-top: -1px;
}


/*.wrapper {
background: url('content/img/sample-01.jpg') no-repeat   center center fixed;
background-color: #f1f1f1;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
*/

.body-style {
    background-color: #f1f1f1;
    /*background-image: url("content/img/home_bg_repeat.jpg");
    background-repeat: repeat-y;*/
    height: 100%;
    margin:0;
    overflow-x: hidden;
}

.home-body {
    /*background-image: url("content/img/home_bg_repeat.jpg");*/
}

.question-body {
    /*background-image: url("content/img/question_bg-repeat.jpg");*/
}

.bg-img-repeat {
    margin-top: 0px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}
html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 100%;
}

.gallery-img {
    max-width: 400px !important;
}

.carousel-control.right {
    right: 0px !important;
}

.carousel-control.left {
    left: 0px !important;
}

.carousel-caption {
    right: 0px !important;
    left: 0px !important;
    padding: 5px !important;
    background: rgba(0, 0, 0, 0.4) !important;
}

.links-container {
    position: relative;
    height: 100%;
    background-color: white;
    overflow-y: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.footer-container {
    margin: 0 -20px -20px -20px !important;
    padding-right: -20px !important;
    padding-left: -20px !important;
    overflow: hidden;
}

.footer {
    bottom: 0;
    width: 200%;
    min-height: 200px;
    background-color: #003f59;
    float: left;
}

.profile-header-container{
    margin: 0 auto;
    text-align: center;
}

.profile-header-img {
    padding: 20px;
    position: absolute;
    right: 1%;
}

.profile-header-img > img.img-circle {
    width: 100px;
    height: 100px;
    border: 2px solid #cf2229;
}

.profile-header {
    margin-top: 43px;
}

/**
* Ranking component
*/
.rank-label-container {
    margin-top: -19px;
    /* z-index: 1000; */
    text-align: center;
}

.label.label-default.rank-label {
    background-color: #cf2229;
    padding: 5px 15px 5px 15px;
    border-radius: 27px;
}

.footer-detail {
    direction: rtl;
    padding-top: 100px;
    color: white;
    font-size: 1vw;
    position: absolute;
    right: 36%;
}

.red-btn {
    background-color: #cf2229 !important;
    color: white !important;
    -webkit-transition-duration: .3s;  
    min-width: 20%;
    font-size: 14px !important;
}

.red-btn:hover {
    background-color: white !important;
    border-color: #cf2229 !important;
    color: #cf2229 !important;
}

.question-container {
    position: absolute; 
    top: 180px;
    right: 26%; 
    width: 100%; 
}

.qa-caption-style {
    font-size: 1.5vw;
    direction: rtl;
}

.qa-description-style {
    font-size: 1.2vw;
    direction: rtl;
}

.qa-bottom {
    border-bottom: 1px solid darkred;
    padding-bottom: 10px;
   /* position: inherit;*/
    width: 50%;
}

/* login style */
.modal-header {
    background-color: #cf2229 !important;
    border-bottom: 2px solid #003f59 !important;
    border-top-left-radius: 6px !important;
    border-top-right-radius: 6px !important;
}

.modal-body {
    margin-top: 20px;
    margin-bottom: 50px;
}

.input-font, .modal-caption {
    direction: rtl;
}

.modal-caption {
    color: white;
}

.modal-input {
    width: 50%;
}

.modal-close {
    float: left !important;
    color: white;
}

.modal-row {
    width:100%; 
    margin:auto;
}

.modal-text-link {
    margin-bottom: 5px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    direction: rtl;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    direction: rtl;
}

::-moz-placeholder { /* Mozilla Firefox 19+ but I'm not sure about working */
    direction: rtl;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    direction: rtl;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: #cccccc;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #cf2229;  
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #cf2229;  
}
