<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>{{_i}}سفارشی و دانلود کنید{{/i}}</h1>
    <p class="lead">{{_i}}<a href="https://github.com/jnaqsh/bootstrap/zipball/master">بوت‌استرپ را دانلود کنید</a> یا متغیرها، اجزا، پلاگین‌های جاوااسکریپت و چیزهای دیگر را سفارشی کنید.{{/i}}</p>
  </div>
</header>


  <div class="container">

    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li><a href="#components"><i class="icon-chevron-left"></i> {{_i}}۱. اجزا را انتخاب کنید{{/i}}</a></li>
          <li><a href="#plugins"><i class="icon-chevron-left"></i> {{_i}}۲. پلاگین‌های جی‌کوئری را انتخاب کنید{{/i}}</a></li>
          <li><a href="#variables"><i class="icon-chevron-left"></i> {{_i}}۳. متغیرها را سفارشی کنید{{/i}}</a></li>
          <li><a href="#download"><i class="icon-chevron-left"></i> {{_i}}۴. دانلود کنید{{/i}}</a></li>
        </ul>
      </div>
      <div class="span9">


        <!-- Customize form
        ================================================== -->
        <form>
          <section class="download" id="components">
            <div class="page-header">
              <a class="btn btn-small pull-left toggle-all" href="#">{{_i}}تغییر وضعیت همه{{/i}}</a>
              <h1>
                {{_i}}۱. اجزا را انتخاب کنید{{/i}}
              </h1>
            </div>
            <div class="row download-builder">
              <div class="span3">
                <h3>{{_i}}چارچوب اصلی{{/i}}</h3>
                <label class="checkbox"><input checked="checked" type="checkbox" value="reset.less"> {{_i}}Normalize and reset{{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="scaffolding.less"> {{_i}}Body type and links{{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="grid.less"> {{_i}}سامانه شبکه‌ای{{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="layouts.less"> {{_i}}لایه‌ها{{/i}}</label>
                <h3>{{_i}}سی‌اس‌اس پایه{{/i}}</h3>
                <label class="checkbox"><input checked="checked" type="checkbox" value="type.less"> {{_i}}تیترها، بدنه و غیره{{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="code.less"> {{_i}}کد و pre{{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="labels-badges.less"> {{_i}}برچسب‌ها و نشان‌ها{{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="tables.less"> {{_i}}جدول‌ها{{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="forms.less"> {{_i}}فرم‌ها{{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="buttons.less"> {{_i}}دکمه‌ها{{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="sprites.less"> {{_i}}آیکن‌ها{{/i}}</label>
              </div><!-- /span -->
              <div class="span3">
                <h3>{{_i}}اجزا{{/i}}</h3>
                <label class="checkbox"><input checked="checked" type="checkbox" value="button-groups.less"> {{_i}}گروه‌های دکمه و افتادنی‌ها{{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="navs.less"> {{_i}}ناوبری‌ها، تب‌ها و پیل‌ها{{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="navbar.less"> {{_i}}نوار ناوبری{{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="breadcrumbs.less"> {{_i}}تکه کیک‌ها{{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="pagination.less"> {{_i}}صفحه‌بندی{{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="pager.less"> {{_i}}ناوبر صفحه{{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="thumbnails.less"> {{_i}}بندانگشتی‌ها{{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="alerts.less"> {{_i}}اخطارها{{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="progress-bars.less"> {{_i}}نوارهای پیشرفت{{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="hero-unit.less"> {{_i}}واحد قهرمان{{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="media.less"> {{_i}}واحد رسانه{{/i}}</label>
                <h3>{{_i}}اجزای جاوااسکریپت{{/i}}</h3>
                <label class="checkbox"><input checked="checked" type="checkbox" value="tooltip.less"> {{_i}}بالنک‌ها{{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="popovers.less"> {{_i}}پوب‌ها{{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="modals.less"> {{_i}}مُدال‌ها{{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="dropdowns.less"> {{_i}}افتادنی‌ها{{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="accordion.less"> {{_i}}فروریختنی{{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="carousel.less"> {{_i}}چرخ و فلک{{/i}}</label>
              </div><!-- /span -->
              <div class="span3">
                <h3>{{_i}}مختلف{{/i}}</h3>
                <label class="checkbox"><input checked="checked" type="checkbox" value="wells.less"> {{_i}}چاه‌ها{{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="close.less"> {{_i}}آیکن بستن{{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="utilities.less"> {{_i}}ابزار کاربردی{{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="component-animations.less"> {{_i}}اجزای پویانمایی‌ها{{/i}}</label>
                <h3>{{_i}}پاسخگو{{/i}}</h3>
                <label class="checkbox"><input checked="checked" type="checkbox" value="responsive-utilities.less"> {{_i}}کلاس‌های نمایان/مخفی{{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="responsive-767px-max.less"> {{_i}}تبلت‌های باریک و یا کوچک‌تر (کمتر از ۷۶۷ پیکسل){{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="responsive-768px-979px.less"> {{_i}}تبلت‌ها تا دسکتاپ‌ها (۷۶۷ پیکسل تا ۹۷۹ پیکسل){{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="responsive-1200px-min.less"> {{_i}}دسکتاپ‌های بزرگ (بیشتر از ۱۲۰۰ پیکسل){{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="responsive-navbar.less"> {{_i}}نوار ناوبری پاسخگو{{/i}}</label>
              </div><!-- /span -->
            </div><!-- /row -->
          </section>

          <section class="download" id="plugins">
            <div class="page-header">
              <a class="btn btn-small pull-left toggle-all" href="#">{{_i}}تغییر وضعیت همه{{/i}}</a>
              <h1>
                {{_i}}۲. پلاگین‌های جی‌کوئری را انتخاب کنید{{/i}}
              </h1>
            </div>
            <div class="row download-builder">
              <div class="span3">
                <label class="checkbox">
                  <input type="checkbox" checked="true" value="bootstrap-transition.js">
                  {{_i}}انتقال‌ها <small>(برای هر پویانمایی لازم است)</small>{{/i}}
                </label>
                <label class="checkbox">
                  <input type="checkbox" checked="true" value="bootstrap-modal.js">
                  {{_i}}مُدال‌ها{{/i}}
                </label>
                <label class="checkbox">
                  <input type="checkbox" checked="true" value="bootstrap-dropdown.js">
                  {{_i}}افتادنی‌ها{{/i}}
                </label>
                <label class="checkbox">
                  <input type="checkbox" checked="true" value="bootstrap-scrollspy.js">
                  {{_i}}اسکرول جاسوس{{/i}}
                </label>
                <label class="checkbox">
                  <input type="checkbox" checked="true" value="bootstrap-tab.js">
                  {{_i}}تب‌ها{{/i}}
                </label>
                <label class="checkbox">
                  <input type="checkbox" checked="true" value="bootstrap-tooltip.js">
                  {{_i}}بالنک‌ها{{/i}}
                </label>
                <label class="checkbox">
                  <input type="checkbox" checked="true" value="bootstrap-popover.js">
                  {{_i}}پوب‌ها <small>(نیازمند بالنک‌ها)</small>{{/i}}
                </label>
              </div><!-- /span -->
              <div class="span3">
                <label class="checkbox">
                  <input type="checkbox" checked="true" value="bootstrap-affix.js">
                  {{_i}}پیوست{{/i}}
                </label>
                <label class="checkbox">
                  <input type="checkbox" checked="true" value="bootstrap-alert.js">
                  {{_i}}پیام‌های اخطار{{/i}}
                </label>
                <label class="checkbox">
                  <input type="checkbox" checked="true" value="bootstrap-button.js">
                  {{_i}}دکمه‌ها{{/i}}
                </label>
                <label class="checkbox">
                  <input type="checkbox" checked="true" value="bootstrap-collapse.js">
                  {{_i}}فروریختنی‌ها{{/i}}
                </label>
                <label class="checkbox">
                  <input type="checkbox" checked="true" value="bootstrap-carousel.js">
                  {{_i}}چرخ فلک{{/i}}
                </label>
                <label class="checkbox">
                  <input type="checkbox" checked="true" value="bootstrap-typeahead.js">
                  {{_i}}کامل‌کننده نوشته{{/i}}
                </label>
              </div><!-- /span -->
              <div class="span3">
                <h4 class="muted">{{_i}}توجه کنید!{{/i}}</h4>
                <p class="muted">{{_i}}تمام پلاگین‌های انتخابی در فایل bootstrap.js کامپایل خواهند شد. تمام پلاگین‌ها نیاز به آخرین نسخهٔ <a href="http://jquery.com/" target="_blank">جی‌کوئری</a> را دارند.{{/i}}</p>
              </div><!-- /span -->
            </div><!-- /row -->
          </section>


          <section class="download" id="variables">
            <div class="page-header">
              <a class="btn btn-small pull-left toggle-all" href="#">{{_i}}بازنشانی به پیش‌فرض‌ها{{/i}}</a>
              <h1>
                {{_i}}۳. متغیرهای سفارشی{{/i}}
              </h1>
            </div>
            <div class="row download-builder">
              <div class="span3">
                <h3>{{_i}}چارچوب اصلی{{/i}}</h3>
                <label>@bodyBackground</label>
                <input type="text" class="span3" placeholder="@white">
                <label>@textColor</label>
                <input type="text" class="span3" placeholder="@grayDark">

                <h3>{{_i}}پیوندها{{/i}}</h3>
                <label>@linkColor</label>
                <input type="text" class="span3" placeholder="#08c">
                <label>@linkColorHover</label>
                <input type="text" class="span3" placeholder="darken(@linkColor, 15%)">
                <h3>{{_i}}رنگ‌ها{{/i}}</h3>
                <label>@blue</label>
                <input type="text" class="span3" placeholder="#049cdb">
                <label>@green</label>
                <input type="text" class="span3" placeholder="#46a546">
                <label>@red</label>
                <input type="text" class="span3" placeholder="#9d261d">
                <label>@yellow</label>
                <input type="text" class="span3" placeholder="#ffc40d">
                <label>@orange</label>
                <input type="text" class="span3" placeholder="#f89406">
                <label>@pink</label>
                <input type="text" class="span3" placeholder="#c3325f">
                <label>@purple</label>
                <input type="text" class="span3" placeholder="#7a43b6">

                <h3>{{_i}}Sprites{{/i}}</h3>
                <label>@iconSpritePath</label>
                <input type="text" class="span3" placeholder="'../img/glyphicons-halflings.png'">
                <label>@iconWhiteSpritePath</label>
                <input type="text" class="span3" placeholder="'../img/glyphicons-halflings-white.png'">

                <h3>{{_i}}سامانه شبکه‌ای{{/i}}</h3>
                <label>@gridColumns</label>
                <input type="text" class="span3" placeholder="12">
                <label>@gridColumnWidth</label>
                <input type="text" class="span3" placeholder="60px">
                <label>@gridGutterWidth</label>
                <input type="text" class="span3" placeholder="20px">
                <label>@gridColumnWidth1200</label>
                <input type="text" class="span3" placeholder="70px">
                <label>@gridGutterWidth1200</label>
                <input type="text" class="span3" placeholder="30px">
                <label>@gridColumnWidth768</label>
                <input type="text" class="span3" placeholder="42px">
                <label>@gridGutterWidth768</label>
                <input type="text" class="span3" placeholder="20px">

              </div><!-- /span -->
              <div class="span3">

                <h3>{{_i}}گرافیک قلم{{/i}}</h3>
                <label>@sansFontFamily</label>
                <input type="text" class="span3" placeholder="'Helvetica Neue', Helvetica, Arial, sans-serif">
                <label>@serifFontFamily</label>
                <input type="text" class="span3" placeholder="Georgia, 'Times New Roman', Times, serif">
                <label>@monoFontFamily</label>
                <input type="text" class="span3" placeholder="Menlo, Monaco, 'Courier New', monospace">

                <label>@baseFontSize</label>
                <input type="text" class="span3" placeholder="14px">
                <label>@baseFontFamily</label>
                <input type="text" class="span3" placeholder="@sansFontFamily">
                <label>@baseLineHeight</label>
                <input type="text" class="span3" placeholder="20px">

                <label>@altFontFamily</label>
                <input type="text" class="span3" placeholder="@serifFontFamily">
                <label>@headingsFontFamily</label>
                <input type="text" class="span3" placeholder="inherit">
                <label>@headingsFontWeight</label>
                <input type="text" class="span3" placeholder="bold">
                <label>@headingsColor</label>
                <input type="text" class="span3" placeholder="inherit">

                <label>@fontSizeLarge</label>
                <input type="text" class="span3" placeholder="@baseFontSize * 1.25">
                <label>@fontSizeSmall</label>
                <input type="text" class="span3" placeholder="@baseFontSize * 0.85">
                <label>@fontSizeMini</label>
                <input type="text" class="span3" placeholder="@baseFontSize * 0.75">

                <label>@paddingLarge</label>
                <input type="text" class="span3" placeholder="11px 19px">
                <label>@paddingSmall</label>
                <input type="text" class="span3" placeholder="2px 10px">
                <label>@paddingMini</label>
                <input type="text" class="span3" placeholder="1px 6px">

                <label>@baseBorderRadius</label>
                <input type="text" class="span3" placeholder="4px">
                <label>@borderRadiusLarge</label>
                <input type="text" class="span3" placeholder="6px">
                <label>@borderRadiusSmall</label>
                <input type="text" class="span3" placeholder="3px">

                <label>@heroUnitBackground</label>
                <input type="text" class="span3" placeholder="@grayLighter">
                <label>@heroUnitHeadingColor</label>
                <input type="text" class="span3" placeholder="inherit">
                <label>@heroUnitLeadColor</label>
                <input type="text" class="span3" placeholder="inherit">

                <h3>{{_i}}جدول‌ها{{/i}}</h3>
                <label>@tableBackground</label>
                <input type="text" class="span3" placeholder="transparent">
                <label>@tableBackgroundAccent</label>
                <input type="text" class="span3" placeholder="#f9f9f9">
                <label>@tableBackgroundHover</label>
                <input type="text" class="span3" placeholder="#f5f5f5">
                <label>@tableBorder</label>
                <input type="text" class="span3" placeholder="#ddd">

                <h3>{{_i}}فرم‌ها{{/i}}</h3>
                <label>@placeholderText</label>
                <input type="text" class="span3" placeholder="@grayLight">
                <label>@inputBackground</label>
                <input type="text" class="span3" placeholder="@white">
                <label>@inputBorder</label>
                <input type="text" class="span3" placeholder="#ccc">
                <label>@inputBorderRadius</label>
                <input type="text" class="span3" placeholder="3px">
                <label>@inputDisabledBackground</label>
                <input type="text" class="span3" placeholder="@grayLighter">
                <label>@formActionsBackground</label>
                <input type="text" class="span3" placeholder="#f5f5f5">
                <label>@btnPrimaryBackground</label>
                <input type="text" class="span3" placeholder="@linkColor">
                <label>@btnPrimaryBackgroundHighlight</label>
                <input type="text" class="span3" placeholder="darken(@white, 10%)">

              </div><!-- /span -->
              <div class="span3">

                <h3>{{_i}}وضیعت‌عای فرم &amp; اخطارها{{/i}}</h3>
                <label>@warningText</label>
                <input type="text" class="span3" placeholder="#c09853">
                <label>@warningBackground</label>
                <input type="text" class="span3" placeholder="#fcf8e3">
                <label>@errorText</label>
                <input type="text" class="span3" placeholder="#b94a48">
                <label>@errorBackground</label>
                <input type="text" class="span3" placeholder="#f2dede">
                <label>@successText</label>
                <input type="text" class="span3" placeholder="#468847">
                <label>@successBackground</label>
                <input type="text" class="span3" placeholder="#dff0d8">
                <label>@infoText</label>
                <input type="text" class="span3" placeholder="#3a87ad">
                <label>@infoBackground</label>
                <input type="text" class="span3" placeholder="#d9edf7">

                <h3>{{_i}}نوار ناوبری{{/i}}</h3>
                <label>@navbarHeight</label>
                <input type="text" class="span3" placeholder="40px">
                <label>@navbarBackground</label>
                <input type="text" class="span3" placeholder="@grayDarker">
                <label>@navbarBackgroundHighlight</label>
                <input type="text" class="span3" placeholder="@grayDark">
                <label>@navbarText</label>
                <input type="text" class="span3" placeholder="@grayLight">
                <label>@navbarBrandColor</label>
                <input type="text" class="span3" placeholder="@navbarLinkColor">
                <label>@navbarLinkColor</label>
                <input type="text" class="span3" placeholder="@grayLight">
                <label>@navbarLinkColorHover</label>
                <input type="text" class="span3" placeholder="@white">
                <label>@navbarLinkColorActive</label>
                <input type="text" class="span3" placeholder="@navbarLinkColorHover">
                <label>@navbarLinkBackgroundHover</label>
                <input type="text" class="span3" placeholder="transparent">
                <label>@navbarLinkBackgroundActive</label>
                <input type="text" class="span3" placeholder="@navbarBackground">
                <label>@navbarSearchBackground</label>
                <input type="text" class="span3" placeholder="lighten(@navbarBackground, 25%)">
                <label>@navbarSearchBackgroundFocus</label>
                <input type="text" class="span3" placeholder="@white">
                <label>@navbarSearchBorder</label>
                <input type="text" class="span3" placeholder="darken(@navbarSearchBackground, 30%)">
                <label>@navbarSearchPlaceholderColor</label>
                <input type="text" class="span3" placeholder="#ccc">

                <label>@navbarCollapseWidth</label>
                <input type="text" class="span3" placeholder="979px">
                <label>@navbarCollapseDesktopWidth</label>
                <input type="text" class="span3" placeholder="@navbarCollapseWidth + 1">

                <h3>{{_i}}افتادنی‌ها{{/i}}</h3>
                <label>@dropdownBackground</label>
                <input type="text" class="span3" placeholder="@white">
                <label>@dropdownBorder</label>
                <input type="text" class="span3" placeholder="rgba(0,0,0,.2)">
                <label>@dropdownLinkColor</label>
                <input type="text" class="span3" placeholder="@grayDark">
                <label>@dropdownLinkColorHover</label>
                <input type="text" class="span3" placeholder="@white">
                <label>@dropdownLinkBackgroundHover</label>
                <input type="text" class="span3" placeholder="@linkColor">
              </div><!-- /span -->
            </div><!-- /row -->
          </section>

          <section class="download" id="download">
            <div class="page-header">
              <h1>
                {{_i}}۴. دانلود کنید{{/i}}
              </h1>
            </div>
            <div class="download-btn">
              <a class="btn btn-primary" href="#" {{#production}}onclick="_gaq.push(['_trackEvent', 'Customize', 'Download', 'Customize and Download']);"{{/production}}>سفارشی و دانلود کن</a>
              <h4>{{_i}}چه چیزی در داخل آن است؟{{/i}}</h4>
              <p>{{_i}}دانلود شامل سی‌اس‌اس کامپایل‌شده، سی‌اس‌اس کامپایل و فشرده‌شده و پلاگین‌های جی‌کوئری است که همه در یک فایل zip هستند.{{/i}}</p>
            </div>
          </section><!-- /download -->
        </form>



      </div>{{! /span9 }}
    </div>{{! row}}

  </div>{{! /.container }}
