<div class="jumbotron masthead">
  <div class="container">
    <h1>{{_i}}بوت‌استرپ{{/i}}</h1>
    <p>{{_i}}چارچوب قدرتمند، زیبا و چشم‌نواز برای توسعه وب سریع‌تر و آسان‌تر{{/i}}</p>
    <p>
      <a href="assets/bootstrap.zip" class="btn btn-primary btn-large" {{#production}}onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Download', 'Download 2.3.2']);"{{/production}}>{{_i}}دانلود بوت‌استرپ{{/i}}</a>
    </p>
    <ul class="masthead-links">
      <li>
        <a href="http://github.com/jnaqsh/bootstrap" {{#production}}onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'GitHub project']);"{{/production}}>{{_i}}پروژه در گیت‌هاب{{/i}}</a>
      </li>
      <li>
        <a href="./getting-started.html#examples" {{#production}}onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'Examples']);"{{/production}}>{{_i}}نمونه‌ها{{/i}}</a>
      </li>
      <li>
        <a href="./extend.html" {{#production}}onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'Extend']);"{{/production}}>{{_i}}توسعه دهید{{/i}}</a>
      </li>
      <li>
        {{_i}}نسخهٔ ۲.۳.۲{{/i}}
      </li>
    </ul>
  </div>
</div>

<div class="bs-docs-social">
  <div class="container">
    <ul class="bs-docs-social-buttons">
      <li>
        <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=jnaqsh&repo=bootstrap&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
      </li>
      <li>
        <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=jnaqsh&repo=bootstrap&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="102px" height="20px"></iframe>
      </li>
      <li class="follow-btn">
        <a href="https://twitter.com/rbootstrap" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">@rbootstrap را دنبال کنید </a>
      </li>
      <li class="tweet-btn">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://jnaqsh.github.com/bootstrap/" data-count="horizontal" data-via="rbootstrap" data-related="jnaqsh:Creator of RTL Twitter Bootstrap">توییت</a>
      </li>
    </ul>
  </div>
</div>

<div class="container">

  <div class="marketing">

    <h1>{{_i}}معرفی بوت‌استرپ{{/i}}</h1>
    <p class="marketing-byline">{{_i}}برای دوست داشتن بوت‌استرپ دلیلی می‌خواهید؟{{/i}}</p>

    <div class="row-fluid">
      <div class="span4">
        <img class="marketing-img" src="assets/img/bs-docs-twitter-github.png">
        <h2>{{_i}}از گیگ، برای گیک‌ها{{/i}}</h2>
        <p>{{_i}}توسط <a href="http://twitter.com/mdo">@mdo</a> و <a href="http://twitter.com/fat">@fat</a> ساخته شده‌است و توسط <a href="http://twitter.com/jnaqsh">@jnaqsh</a> برای زبان‌های راست به چپ، آماده شده‌است. بوت‌استرپ از <a href="http://lesscss.org">LESS CSS</a> استفاده می‌کند و به‌وسیلهٔ <a href="http://nodejs.org">نود</a> کامپایل شده‌است و از طریق <a href="http://github.com">گیت‌هاب</a>  مدیریت می‌شود تا افراد گیک و هوشمند در آن مشارکت کنند.{{/i}}</p>
      </div>
      <div class="span4">
        <img class="marketing-img" src="assets/img/bs-docs-responsive-illustrations.png">
        <h2>{{_i}}ساخته‌شده برای همه{{/i}}</h2>
        <p>{{_i}}بوت‌استرپ فقط برای آخرین مرورگرهای دسکتاپ (حتی اینترنت اکسپلورر ۷) ساخته نشده‌است. در مرورگر تبلت‌ها، تلفن‌های هوشمند به‌وسیلهٔ <a href="./scaffolding.html#responsive">سی‌اس‌اس پاسخگو</a> آن را می‌توانید داشته‌باشید.{{/i}}</p>
      </div>
      <div class="span4">
        <img class="marketing-img" src="assets/img/bs-docs-bootstrap-features.png">
        <h2>{{_i}}ویژگی‌های منحصربه‌فرد{{/i}}</h2>
        <p>{{_i}}یک <a href="./scaffolding.html#grid">سامانهٔ شبکه‌ای</a> با ۱۲ ستون پاسخگو، تعداد زیادی جزء، <a href="./javascript.html">پلاگین‌های جاوااسکریپت</a>، گرافیک قلم، کنترل‌کننده‌های فرم‌ها، و حتی یک <a href="./customize.html">سفارشی‌ساز مبتنی بر وب</a> تا بوت‌استرپ را مطابق سلیقهٔ خود داشته باشید.{{/i}}</p>
      </div>
    </div>

    <hr class="soften">

    <h1>{{_i}}ساخته‌شده با بوت‌استرپ{{/i}}</h1>
    <p class="marketing-byline">{{_i}}برای نمونه‌های بیشتر که با بوت‌استرپ ساخته‌شده است می‌توانید <a href="http://builtwithbootstrap.tumblr.com/" target="_blank">تامبلر غیررسمی</a> و یا <a href="./getting-started.html#examples">نمونه‌های دیگر</a> را ببینید.{{/i}}</p>
    <div class="row-fluid">
      <ul class="thumbnails example-sites">
        <li class="span3">
          <a class="thumbnail" href="http://soundready.fm/" target="_blank">
            <img src="assets/img/example-sites/soundready.png" alt="SoundReady.fm">
          </a>
        </li>
        <li class="span3">
          <a class="thumbnail" href="http://nerdnews.ir/" target="_blank">
            <img src="assets/img/example-sites/nerdnews.png" alt="farsi nerdnews">
          </a>
        </li>
        <li class="span3">
          <a class="thumbnail" href="http://www.gathercontent.com/" target="_blank">
            <img src="assets/img/example-sites/gathercontent.png" alt="Gather Content">
          </a>
        </li>
        <li class="span3">
          <a class="thumbnail" href="http://www.jshint.com/" target="_blank">
            <img src="assets/img/example-sites/jshint.png" alt="JS Hint">
          </a>
        </li>
      </ul>
     </div>

  </div>{{! /.marketing }}

</div>{{! /.container }}
