@media (max-width : 380px) {

    .img.col-rtl img {
        width: 100% !important;
        height: 200px !important;
    }

    .img.col-rtl img:first-child{
        margin-top: 30px;
    }

    .gallery-col{
        margin-top: 15px;
    }

    .instagram-row{
        margin-top: 150px !important;
    }


}

@media (min-width:400px) and (max-width:480px){
    .instagram-row{
        margin-top: 150px !important;
    }
}

@media (min-width:480px) and (max-width:600px){
    .instagram-row{
        margin-top: 200px !important;
    }
}

@media (min-width:600px) and (max-width:800px){
    .instagram-row{
        margin-top: 450px !important;
    }
}

@media (max-width : 600px) and (orientation : landscape){
    .instagram-row{
        margin-top: 300px !important;
    }
}


@media (max-width : 1366px) and (orientation : landscape){

}
@media (max-width : 480px) {

    .question-bg-image{
        margin-top: 200px !important;
    }

    .question-bg-image img{
        position: relative;
    }

    .question-container {
        position: absolute;
        top: 50px;
        right: 10%;
        width: 100%;
    }

    .question-container h1{
        font-size:14px !important;
        padding-right: 0 !important;
        padding-top:0 !important
    }

    .name-input{
        width:70% !important;
    }

    .email-input{
        width:70% !important;
    }

    .question-area{
        width:70% !important;
    }

    .question-btn{
        margin-top:0 !important;
        margin-left: 115px !important;
    }


    .question-container-answer {
        position: absolute;
        right: 15%;
        width: 100%;

    }

    .bg-image.question-bg-image{
        background-color: #ffffff;
    }

    .repeat-content-container{
        margin-top: 410px;
    }

    .qa-caption-style{
        font-size:12px !important;
    }

    .qa-description-style{
        font-size:12px !important;
    }




}
@media (min-width : 481px) and (max-width: 1024px) {


    .bg-image.question-bg-image{
        background-color: #ffffff !important;
    }

    .repeat-content-container{
        margin-top: 320px !important;
    }

    .repeat-content{
        background-image: none !important;
    }

    .question-btn{
        margin-left: 500px !important;
    }

}
@media screen and (max-device-width: 767px) and (orientation : landscape){


}

@media (max-width: 767px) {

}



@media (max-width: 768px){



}

@media (max-width: 800px) {
    .mobile-menu-button{
        float: right; !important;
    }

    .top-logo{
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        float:none;
    }

    .bg-image.intro{
        margin-top: 200px !important;
    }

    .links-container span{
         font-size:4.3vw;
    }

    .links-container li{
        margin-bottom: 10px;
    }

    .footer-detail{
        margin-top: 40px;
    }

    .red-btn{
        margin-top: 40px;
    }

    .footer-detail p{
        margin-left: 10px;
    }

    .insta-logo-container .logo-header.logo-header.insta-logo{
        margin-top: 40px;
    }

    .links-container.around-shadow{
        padding-top: 30px;
    }

    .modal.fade.in{
        width: 100% !important;
    }

    .modal-dialog{
        width: 85% !important;

    }

    .modal{
        transform: translate(0,0) !important;
    }

    .edu-container{
        margin-right: 0 !important;
    }





}

@media (min-width : 768px) and (max-width: 991px) {

}


@media (min-width : 768px) and (max-width: 1280px) {
    .navbar .brand{
        font-size: 15px;
    }

}
@media (max-width: 1280px){



}

@media (max-width: 800px) and (orientation: landscape){

    .img-thumbnail.img-rounded{
        width: 50% !important;
    }

}




@media (max-width: 991px) {

}


@media (min-width : 992px) and (max-width: 1199px) {




}


@media (max-width : 1200px) {


}


@media (min-width : 1200px) {


}



@media (min-width: 1281px) and (max-width: 1440px){

}

@media (min-width:767px) and (max-width: 1366px){
    .row.contact-row{
        min-height: 685px;

    }

    #googleMap{
        height:500px !important;
    }


}

@media (max-width:700px) and (orientation: landscape){
    .repeat-content-container{
        margin-top: 370px !important;
    }

    .question-btn{
        margin-left: 400px !important;
    }
}


@media (max-width:600px) and (orientation: landscape){
    .repeat-content-container{
        margin-top: 450px !important;

    }

    .question-btn{
        margin-left: 350px !important;
    }
}


@media (min-width: 1024px) and (max-width: 1200px) {
    .row-container{
        min-height: 1020px;
    }

    .row.parent-article{
        min-height: 1000px;
    }
}
